@import 'bulma/bulma';

.isPrimary {
    background-color: #0e3b43;
    color: #fff;
}

.isPrimary button:hover {
    background-color: #0e3b43d0;
    color: #fff;
}

.isPrimary a {
    color: #fff;
}

.fontAwesomeIcon {
    color: #a3bbad;
    margin-left: 1rem;
    margin-top: 0.9rem;
}


.box {
    background-color: #d0dcd5;
    border-radius: 5px;
    width: 230px;
    height: 50px;
    margin: 1rem;
}

.pago {
    background-color: #46775b;
}
.aberto {
    background-color: #d0dcd5;
}
